.message-greeting-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 200px;
    background-color: rgb(240, 229, 229);
    border-radius: 30px;
    box-shadow: rgb(24, 24, 24) 0px 1px 0px, rgb(20, 19, 19);
}

.message{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}