.IconSearch {
    width: 100%;
    display: flex;
    justify-items: end;
    grid-auto-flow: column;
    background-color: white;
    border: 0px solid rgb(228, 228, 228);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }
  .IconSearch > i {
    order: 2;
  }
  
  .IconSearch > input {
    width: 100%;
    background-color: white;
  }
  
  input:focus {
    outline: none;
  }
  
  @media (min-width: 1200px) {
    .IconSearch {
      width: 90%;
      display: flex;
      justify-items: start;
      grid-auto-flow: column;
      background-color: white;
      border-radius: 25px;
      overflow: hidden;
    }
  
    .IconSearch > i {
      order: 1;
    }
  
    .IconSearch > input {
      order: 2;
      width: 100%;
      background-color: white;
      border-radius: 25px 25px;
    }
  
    input:focus {
      outline: none;
    }
  }