.Contador {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
  }
  
  .ContadorContainer {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    align-items: center;
  }
  
  .Botones {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
  }
  
  .NumeroContador {
    color: rgb(20, 20, 20);
    font-size: 28px;
    text-align: center;
  }
  
  button {
    background-color: rgb(21, 99, 255);
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    display: grid;
    align-content: center;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(21, 99, 255);
    color: white;
    border: none;
  }
  
  .BotonCarrito {
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 25px;
    color: rgb(0, 119, 255);
  }